<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="headerCRUD" id="header">
        <h1 class="h1">CRUD de Productos</h1>
    </header>
<section>
    <main>
        <div class="contenedor2">
            <!-- Añadir -->
            <div class="añadir">
                <h2 class="h2t">Añadir</h2>
                <form action="/panelAdd" method="POST" class="" id="">
                    <label class="labelForm">Nombre del producto</label>
                    <input type="text" id="productoAñadir" name="title">

                    <label class="labelForm">Precio del producto</label>
                    <input type="number" id="valorAñadir" name="price">

                    <label class="labelForm">Stock</label>
                    <input type="number" id="existenciaAñadir" name="stock">

                    <label class="labelForm">Categoria</label>
                    <input type="text" id="Category" name="category">

                    <label class="labelForm">Url Imagen</label>
                    <a href="https://postimg.cc/gallery/tgXC50N/d864d8e6" class="btn btn-dark">Pagina para subir la imagen</a>
                    <input type="text" id="ImagenAñadir" name="thumbnail">

                    <input class="button" type="submit" id="botonAñadir" value="Añadir">
                </form>
            </div>
            <!-- Editar -->
            <div class="editar">
                
                <h2 class="h2t">Editar</h2>
                <form action="/panel/update" method="POST" class="" id="">
                    <label class="labelForm">Nombre del producto</label>
                    <select id="productoEditar">
                        {{#each productos}}
                            <option value="">{{this.title}}</option>
                        {{/each}}
                    </select>

                    <label class="labelForm">Atributo</label>
                    <select id="atributoEditar">
                        <option value="">---</option>
                    </select>

                    <label class="labelForm">Nuevo valor</label>
                    <input type="text" id="nuevoAtributo">

                    <input class="button" type="submit" id="botonEditar" value="Editar">
                </form>
            </div>

            <!-- Eliminar -->
            <div class="eliminar">
                <h2 class="h2t">Eliminar</h2>

                <form action="/panel/delete" method="POST" class="" id="">
                    <label class="labelForm">Nombre del producto</label>
                    <select id="productoEliminar">
                        {{#each productos}}
                            <option value="{{this.id}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                    <input class="button" type="submit" id="botonEliminar" value="Eliminar">
                </form>
            </div>
        </div>
        
        <!-- Mostrar el mensaje -->
        <div class="contenedorMensaje">
            <div id="mensaje"></div>
        </div>

        <!-- Productos -->
        <div class="contenedorProductos">
            <h2 class="h2t">Productos</h2>
            <div class="mostrarProductos" id="mostrarProductos"> </div>
        </div>
    </main>
</section>
    <script src="admin.js"></script>
</body>
</html>