{{!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logueo</title>
</head>
<body class="cuerpo">
        <h1 class="tituloLogin">Login</h1>
            <div class="caja" >
            <form action="/api/sessions/login" method="POST" class="form-group" id="loginForm">
                <input type="text" name="email" placeholder="email" class="inputLogin">
                <br>
                <input type="password" name="password" placeholder="password" class="inputLogin">
                <br>
                <button class="btn btn-dark mt-3">Ingresar</button>
                <a href="/api/sessions/github" class="btn btn-dark mt-3">GitHub</a>
                <a href="" class="btn btn-dark mt-3">Olvide mi contrase침a</a>
    </form>
    </div>
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/e9d0268112.js" crossorigin="anonymous"></script>
</body>
</html> --}}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
</head>
<body>

<section>
    <div class="contenedor">
        <div class="formulario">
            <form action="/api/sessions/login" method="POST" class="form-group" id="loginForm">
                <h2>Iniciar Sesi칩n</h2>

                <div class="input-contenedor">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" name="email" class="inputLogin">
                    <label for="#">Email</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" class="inputLogin">
                    <label for="#">Contrase침a</label>
                </div>

                <div class="olvidar">
                    <label for="#">
                        <input type="checkbox">
                        <a href="#">Recordar</a>
                    </label>
                </div>   
                <button type="submit" class="btn btn-dark">Ingresar</button>
            </form>

            <div>
                <button><a href="/api/sessions/github" class="fa-brands fa-github btn btn-dark ">GitHub</a></button>
                <div class="registrar">
                    <p>No tengo cuenta <a href="/register">Crear una</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script> 
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/e9d0268112.js" crossorigin="anonymous"></script>
</body>
</html>

