<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="cuerpo">
    <h1 class="tituloLogin">Register</h1>
    <div class="caja">
    <form action="/api/sessions/register" method="POST" class="form-group" id="registerForm">
    <br>
        <input type="text" name="first_name" placeholder="first_name" class="inputLogin">
        <br>
        <input type="text" name="last_name" placeholder="last_name" class="inputLogin">
        <br>
        <input type="text" name="email" placeholder="email" class="inputLogin">
        <br>
        <input type="password" name="password" placeholder="password" class="inputLogin">
        <button class="btn btn-dark">Enviar</button>
    </form>
</div>
<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>