<section>
    <h1>Registro</h1>
    <form action="/api/sessions/register" method="POST" class="form-group">
    <br>
        <input type="text" name="first_name" placeholder="first_name">
        <br>
        <input type="text" name="last_name" placeholder="last_name">
        <br>
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="password" name="password" placeholder="password">
        <button class="btn btn-dark">Enviar</button>
    </form>
</section>