section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(https://i.postimg.cc/j2bf24CB/fondo-Productos.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
