.caja {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 94, 0);
}

.tituloLogin {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: oblique bold 400% cursive
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%
}

.inputLogin {
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

.cuerpo {
    background-color: rgb(255, 94, 0);
}

.btn {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-top: 5px;
}