.cajaProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blanchedalmond;
}

.titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(9, 7, 109);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    
}

.contenedorProducts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    height: 320px;
}

.contenido {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

